  body{
  background-image: url(img/Dream.jpg);
    
  }

  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex: auto;
  }

  #background {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: center;
  top: 0;
  left: 0;
  z-index: -1;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2; /* Valor de transparencia, 0.5 significa 50% de opacidad */
  z-index: 1;
}

h1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: #f5f5f5;
    font-size: 5em;
    font-family: sans-serif;
  }

  h1 span{
    display: inline-block;
    animation: animate 1s  ease-in-out;

  }

  @keyframes animate{
    0%{
    opacity: 0%;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100%{
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0px);
  }
  }
h1 span:nth-child(1)
{
animation-delay: 0.6s;
}
h1 span:nth-child(2)
{
animation-delay: 1s;
}
h1 span:nth-child(3)
{
animation-delay: 1.3s;
}
h1 span:nth-child(4)
{
animation-delay: 2s;
}
h1 span:nth-child(5)
{
animation-delay: 2.7s;
}
h1 span:nth-child(6)
{
animation-delay: 3.2s;
}
h1 span:nth-child(7)
{
animation-delay: 3.7s;
}
h1 span:nth-child(8)
{
animation-delay: 4s;
}
h1 span:nth-child(9)
{
animation-delay: 4.5s;
}
.titular{
margin-top: 690px;
padding: 3%;
font-size: 20px;
color: rgba(248, 246, 246, 0.827);
background-color: rgba(12, 12, 12, 0.514);
font-style: oblique;
}
.texto{
margin-top: 10px;
padding: 2%;
color: white;
font-size: 18px;
text-align: justify;
background-color: rgba(0, 0, 0, 0.463);
}
main {
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
h3{
  text-align: center;
}
@media(max-width: 768px) {
#background{
    max-width: 50%; /* La imagen se ajustará al ancho del contenedor */
    height: auto;
}
}