.aspect-square {
	aspect-ratio: 1/1;
}
.aspect-16-9 {
	aspect-ratio: 16/9;
}
.aspect-4-3 {
	aspect-ratio: 4/3;
}
.adsense300x250 {
	width: 300px;
	height: 250px;
	background-color: #EEE;
}
.adsense336x280 {
	width: 336px;
	height: 280px;
	background-color: #EEE;
}
.adsense728x90 {
	width: 728px;
	height: 90px;
	background-color: #EEE;
}
.adsense160x600 {
	width: 160px;
	height: 600px;
	background-color: #EEE
}
.adsense320x50 {
	width: 320px;
	height: 50px;
	background-color: #EEE
}
.adsense468x60 {
	width: 468px;
	height: 60px;
	background-color: #0e0d0d
}
.adsense_horizontal {
	width: 728px;
	height: 90px;

	margin: 30px auto;
}
@media (max-width: 750px) {
	.adsense_horizontal {
		width: 320px;
		height: 50px;
	}
}
#mobile-menu, #mobile-menu-button {
	display: none;
    background-color: #333;
}
@media (max-width: 1050px) {
	#mobile-menu, #mobile-menu-button {
		display: block;
	}

	#mobile-menu-button {
		float: right;
		width: 36px;
		height: 36px;

		cursor: pointer;

		
		-webkit-tap-highlight-color: rgba(243, 241, 241, 0);

		 

		background-image: url(/images/mobile_menu_button.svg);
		background-size: 100%;

		position: relative;
		z-index: 100;
	}

	#mobile-menu-button:after {
		position: absolute;
		content: "";
		top: -10px;
		left: -10px;
		right: -10px;
		bottom: -10px;
	}

	#pc-menu {
		display: none;
	}

	#mobile-menu {
		position: absolute;
		z-index: 100;

		width: 100%;
		background-color: #FFF;

		 

		transition: transform .2s ease-out;
		transition: -webkit-transform .2s ease-out;

		transform-origin: 50% 0;
		-webkit-transform-origin: 50% 0;
	}

	#mobile-menu.hidden {
		transform: rotateX(90deg);
		-webkit-transform: rotateX(90deg);
	}

	#mobile-menu.visible {
		transform: rotateX(0deg);
		-webkit-transform: rotateX(0deg);
	}

	 
	#mobile-menu ul {
		margin: 0;
		padding: 0;
        border-color: #333;
	}

	#mobile-menu li {
		list-style: none;
		padding: 10px 48px;

		border-bottom: 1px solid #CCC;
        border-color: #333;
	}

	#mobile-menu li:first-child {
		border-top: 1px solid #CCC;
        border-color: #333;
	}
}

/* ---SEC---*/



body {
	margin: 10px;
    border-color: #06050500;
	font-family: 'Helvetica-Light', Arial, Meiryo, sans-serif;
	line-height: 1.7;	
    -webkit-text-size-adjust: none;
	background-color: #0c000078;
	color: #050505;
	
}

h1, h2 {
	line-height: 1.3;
}

a {
	transition: color 100ms ease-in-out;
	color: #0099CC;
}

a:hover {
	color: #00CCFF;
}

img {
	 
	max-width: 100%;
	 
	border: 0;
}

footer {
	margin: 40px 0;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-800 {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-728 {
	max-width: 728px;
	margin: 0 auto;
	padding: 0px;
}

.container-600 {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 15px;
}

.gamecontainer {
	padding: 0;

	 
	touch-action: none;
}

.notsupported {
	background-color: #FFC;

	width: 100%;
	height: 100%;

	padding: 1em;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.attention {
	padding: 0 20px;
	border:1px solid #CCC;
	border-radius:5px;
	background-color: #FFC;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td {
	padding: 5px;
}
td:first-child
{
	white-space: nowrap;
}
tr:nth-child(odd)
{
	background-color: #EEE;
}

.twitter-timeline {
	margin: 20px 0;
}

@media (max-width: 600px) {
	.twitter-timeline {
		height: 300px;
	}

	table {
		width: 100%;
	}
}

.sns-buttons {
	margin: 10px auto;
	height: 24px;
	position: relative;
	overflow: hidden;
}

.sns-button {
	position: absolute;
}

 
.fb-like > span {
	vertical-align: top !important;
}

.entry {
	overflow: auto;
	margin: 20px 0;
}

	.entry > .left {
		float: left;
		width: 60%;
	}

		.entry > .left > h2 {
			margin-top: 0;
		}

	.entry > .right {
		float: right;
	}

		.entry > .right img {
			width: 250px;
		}

@media (max-width: 750px) {
	.entry > .left {
		float: none;
		width: 100%;
	}
	.entry > .right {
		float: none;
		width: 100%;
	}
}
/* ---SEC---*/
#drivingsimulator {
	position: relative;
	width: 728px;
	height: 546px;
	margin: 10px auto;
}

@media (max-width:750px) {
	.header {
		display: none;
	}

	body, html {
		height: 100%;
	}

	#drivingsimulator {
		width: calc(100% + 30px);
		height: 400;
		margin: 0 -15px;

		overflow: hidden;
		-webkit-overflow-scrolling:touch;
	}
}


