body {
    background-image: url('https://images.unsplash.com/photo-1685207890865-46c55c4d51b8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80');
    background-size: cover; /* Ajusta la imagen al tamaño de la ventana */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}
.contenedor-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Opcional, ajusta la altura según tus necesidades */
}
.texto1{
    color: bisque;
}
.texto2{
    color: aliceblue;
}